.form {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.table {
    margin-top: 40px;
}

.btn-group .btn.btn-secondary.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.error {
    color: red;
    display: none;
}

#exit {
    display: none;
}